html{
  background-color: #f7f7f7;
}


nav{
  background-color: rgb(0, 45, 98);
  color: rgb(255, 210, 4);
  background: fill;
  width: 100%;
  height: auto;
  box-shadow: rgb(189, 188, 188) 5px 5px 5px;

}

nav h1{
  margin-left: 2vw;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.directory{
  display: flex;
  flex-direction: row;
  font-size: 0.5em;
  align-items: center;
  margin-right: 2vw;
  
}
.directory a{
  color: rgb(255, 210, 4);
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}
.directory a:hover{
  color: rgb(245, 247, 175);
}

.directory span{
  font-size: 1.5em;
}

.intro{

  font-size: 2.0em;
  height: 70vh;
  width: 70vw;
  color: rgb(255, 255, 255);
  margin-top: 8vh;
  background-image: url("images/americanFlag.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: 300; 
  line-height: 1; 
  
}

.intro h5{
  align-self: center;
  width: 60%;

}

.flexIntro{  
  display: flex; 
  justify-content: center;
}

.overlay{

  background-color: rgba(49, 49, 49, 0.301);
  background-size: fill;
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.7em;
  
  text-align: center;
  
}

.companyCreds img{
  height: 50vh;
  width: auto;
  
} 



.flexDiv{
  display: flex;
  justify-content: center;
  margin-top: 40px;  
  padding: 40px 0px;
  
  
}

.experience{
  display: flex;  
  align-items: center;
  flex-direction: column;
  color: white;
  box-shadow: rgb(189, 188, 188) 5px 5px 5px;
  text-align: center;
  width: 70vw;
  height: 25vh;
  background-image: linear-gradient(rgba(0, 45, 98),#dadada);  
}

.experience p{
  
  padding: 0px 20px;
  font-size: 1em;
  margin-top: 20px;
  width: 47%;
}

.experience span{
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: underline;
}


.mission{
  width: 70vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.mission li{
  list-style-type: none;
}

.missionStatement{
  text-align: center;
  color: rgb(0, 45, 98);
}

.lists{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list{
  text-align: left;
  margin: 5px 10px;
  border: 2px solid rgb(0, 45, 98);
  border-top: none;
  padding: 10px;
  margin-top: 2vh;
  border-radius: 5px;
  width: 25vw;
  height: 25vh;
}

